body{
    background: rgb(245, 255, 253)!important;

}


header{
    z-index: 1500!important;
}


.suscripcion {
    display: flex !important;
    justify-content: center !important;
    flex-direction: column !important;
}

.navbar{
    background: linear-gradient(to right, #c9e265, #ffde59)!important;
    
}

ul{
    list-style-type: none;
}

.buscados{
    display: flex;
    justify-content: center;
    align-items: center;
    border: black solid 1px !important;
    padding: 3px;
    margin: 2px;
    width: 140px;
}
